li {
    display: inline-block;
}

.navList {
    text-align: right;
    word-spacing: 40%;
}

.SignIn {
    margin-top: 5%;
    margin: 5% 30% 5% 30%;
    text-align: center;
}

.SignIn form {
    padding: 5%;
}

.Table {
    margin-top: 30px;
    text-align: center;
    width: 50%;
    margin-left: 23.5%;

    border: #efae20 ridge inset;
}

.col1 {
    background-color: rgb(210, 132, 84);
    width: 30%;
}

.col2 {
    background-color: rgb(255, 153, 80);
    width: 30%;
}

.col3 {
    background-color: rgb(212, 232, 79);
}

thead {
    background-color: coral;
}

footer {
    color: white;
    text-align: center;
}